.adminloader {
    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 10px solid;
        box-sizing: border-box;
        animation: animloader 1s linear infinite alternate;
    }

    @keyframes animloader {
        0% {
            border-color: black rgba(214, 16, 16, 0) rgba(197, 19, 19, 0) rgba(230, 15, 15, 0);
        }

        33% {
            border-color: black black rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
        }

        66% {
            border-color: black black black rgba(255, 255, 255, 0);
        }

        100% {
            border-color: black black black black;
        }
    }

    .parent {
        position: relative;
    }

    .child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}